/* General styles */
body.bg-gray-300 {
    background-color: #d1d5db;
}

.container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.max-w-3xl {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
    overflow: hidden;
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.text-gray-700 {
    color: #4a5568;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mt-8 {
    margin-top: 2rem;
}

.grid {
    display: grid;
}

.grid-cols-5 {
    grid-template-columns: repeat(5, 1fr);
}

.gap-4 {
    gap: 1rem;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.text-8xl {
    font-size: 6rem;
    font-weight: 700;
}

.text-2xl {
    font-size: 1.5rem;
}

.text-lg {
    font-size: 1.125rem;
}

.font-semibold {
    font-weight: 600;
}

.text-m {
    font-size: 1rem;
}

/* Input styles */
.input-text {
    flex: 1;
    appearance: none;
    border: 1px solid #e2e8f0;
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
    margin-right: 0.5rem;
    color: #4a5568;
    line-height: 1.25;
    outline: none;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

/* Button styles */
.button {
    background-color: #4299e1;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    outline: none;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #2b6cb0;
}

/* Card styles */
.card {
    background-color: #e2e8f0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #4a5568;
}

.card .text-lg {
    font-weight: 600;
    margin-bottom: 0.25rem;
}

.text-red-500 {
    color: #f56565;
}